<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Information Security Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Network Security</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Web Security</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Software Security</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Policy &amp; Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Legal Aspects</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Project Management Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Risk Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Communication</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Stakeholder Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Organization</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
              <!-- .title_content -->
              <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
                
            <div class="skills">       
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Java</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>C++</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>SQL</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title"><span>Python</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>
                <!-- /.skillbar -->   
            </div>
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Excel or Equivalent</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Word or Equivalent</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Visio</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Videography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Photography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Mandarin</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="10%">
                <div class="skillbar-title"><span>Japanese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">10%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Programme Manager <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2024</span></h5>
                <h6><span class="fa fa-briefcase"></span> DSTA</h6>
                <p>As a Programme Manager for classified systems, I oversaw the end-to-end delivery of secure, high-stakes technology projects, ensuring compliance with strict security protocols and government regulations. I led cross-functional teams in the planning, execution, and integration of classified systems, managing risks, budgets, and timelines to ensure successful outcomes. My role involved coordinating with key stakeholders, ensuring clear communication, and maintaining the highest standards of confidentiality and data protection throughout the project lifecycle, delivering secure solutions that met both operational and security requirements.</p>
            </li>
            <li>
                <h5>Cybersecurity Professional <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2024</span></h5>
                <h6><span class="fa fa-briefcase"></span> DSTA</h6>
                <p>As a Cybersecurity Professional for classified systems, I was responsible for safeguarding sensitive information by implementing and maintaining robust security measures in compliance with government regulations and security standards. I conducted risk assessments, developed and enforced security protocols, and managed access controls to prevent unauthorized access to classified systems. My role included monitoring system vulnerabilities, responding to security incidents, and ensuring the integrity and confidentiality of data throughout the system lifecycle. I collaborated with cross-functional teams to ensure all cybersecurity measures were aligned with operational requirements while maintaining the highest level of security for classified information.</p>
            </li>
            <li>
                <h5>Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2014</span></h5>
                <h6><span class="fa fa-briefcase"></span> DSTA</h6>
                <p>As a Software Engineer for classified systems, I was responsible for the end-to-end development of secure software solutions, adhering to the Software Development Life Cycle (SDLC) to ensure efficient, reliable, and compliant system delivery. My role included gathering requirements, designing, coding, testing, and deploying classified applications, while rigorously maintaining data security and regulatory standards throughout the process. I also led the integration of overseas systems, ensuring seamless compatibility and secure data exchange across international platforms, while addressing potential security risks and ensuring full compliance with government regulations. My contributions ensured that the classified systems met both operational and security objectives for RSAF</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Computing <span class="duration"><i class="fa fa-calendar color"></i> 2021 - 2022</span></h5>
                <h6><span class="fa fa-book"></span> National University of Singapore</h6>
                <p>Specialization: Infocomm Security <br>
                    Coursework: CS5321 Network Security, CS5331 Web Security, CS5332 Biometric Authentication, IFS4101 Legal Aspects of Information Security, CS5439 Software Security, IS5151 Information Security Policy and Management, IS5008 Technology Risk & Cyber Resilience, IS5005 Digital Engagement. <br>
                    Project: Formal Verification of Security Protocol </p>
            </li>
            <li>
                <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2001 - 2005</span></h5>
                <h6><span class="fa fa-book"></span> Nanyang Technological University</h6>
                <p>Specialization: Computer Engineering <br>
                    Project: Privacy Preserving Query Language </p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Professional Certifications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>CISSP <span class="duration"><i class="fa fa-calendar color"></i> 2024 - Present</span></h5>
                <h6><span class="fa fa-trophy"></span> ISC2 </h6>
                <p>Certified Information Systems Security Professional - I am currently seeking opportunities to clock my CPE to keep my CISSP #892260 active and relevant.</p>
            </li>
            <li>
                <h5>PMP<span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2015</span></h5>
                <h6><span class="fa fa-trophy"></span> PMI </h6>
                <p>Project Management Professional - I took my PMP before I transit to project management role and have no plans to renew after its expiry.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
<div class="reference clearfix"> 
            
         <!-- .title_content 
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client Reference</div>
            <div class="clear"></div>
        </div>
         /.title_content -->
        
<!--
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
    -->
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->